
RewriteEngine on

#RewriteCond %{HTTP_HOST} !^www\. [NC]
#RewriteRule ^(.*)$ http://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond $1 !^(index\.php|resources|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA] 
<IfModule mod_security.c>
SecFilterEngine Off
SecFilterScanPOST Off
</IfModule>

####################
#   Cache-Control  #
####################

#Header set Cache-Control "public"
#FileETag None
#Header unset Etag
#Header unset Pragma
#<FilesMatch "\.(flv|swf|gif|jpg|jpeg|png|ico|js|css|pdf)$">
#  Header set Cache-Control "max-age=86400"
#</FilesMatch>

#Header unset ETag
#FileETag None

#ExpiresActive On
#ExpiresDefault "access plus 10 day"
#ExpiresByType text/html "access plus 1 day"
#ExpiresByType image/gif "access plus 10 day"
#ExpiresByType image/jpeg "access plus 10 day"
#ExpiresByType image/png "access plus 10 day"
#ExpiresByType text/css "access plus 10 day"
#ExpiresByType text/javascript "access plus 10 day"
#ExpiresByType application/x-javascript "access plus 10 day"


#<FilesMatch ".(js|css|html|htm|php|xml)$">
#	SetOutputFilter DEFLATE
#</FilesMatch>
